<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Dear customers and partners!</h2>
			</header>
			<p>
				We are pleased to welcome you to our company, which specializes in the production and supply of high-quality concrete for your construction. Our team of professionals works to ensure that you get the best materials for your projects.

				We offer:
				✔ High-quality concrete of various brands
				✔ Modern production technologies
				✔ Reliable and timely delivery
				✔ A flexible system of discounts for regular customers
				✔ Individual approach to each customer

				Our mission is to help you build strong and durable structures. We value your trust and guarantee a responsible attitude to each order.

				Contact us today and we will be happy to help you realize your construction projects!

				Sincerely, Team [Betony].
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Go to services
					</a>
			</footer>
		</section>
	</div>
</div>