@await Html.PartialAsync("_SidebarPartila")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
	
		<article>
			<header class="major">
				<h2>Welcome to the website of the "Betony" construction company.</h2>
				<p>
					Build your future with us!
				</p>
			</header>
			<span class="image feature">
				<img src="~/img/bg.jpg" alt="Welcome"/>
			</span>
		</article>

	</div>
</div>